body {
	margin: 0;
	font-family: Arial,Sans-serif;
}
.top-bar{
	background-color: #a4c639;
	 color: white;
	 font-size: 14px;
	 padding-left: 100px;
	 padding-right: 100px;
	 height: 35px;
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	
}
.social-icons img{
	width: 16px;
	border-left: 1px solid white;
	}
.social-icons img:last-child{
	border-right: 1px solid white;

}
.top-bar-left{
	display: flex;
	 justify-content: space-between;
	 height: 30px;
	 align-items: centre;	 
}


.top-bar-left p{
	margin: 0;
		border-left: 1px solid white;
}
.top-bar-left p:last-child{
	border-left: 1px solid white;
}
.about-section{
	background: url(slide_01.jpg)center center;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 30px;
	padding-bottom: 100px;
	margin: 0;
}
.social-icons{
	display: flex;
	height: 30px
	align-items:center;
}
.nav-bar h2{
	 margin: 0; 

}
.top-bar-left p,.social-icons img{
	padding: 7px 7px;
}
.nav-bar{
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-bar a{
	text-decoration: none;
	color: white;
}
.nav-links a{
	margin-left: 30px;
}   
.nav-links .home{
	color: #a4c639;
	border-bottom: 2px solid #a4c639;
}      
.about-info h3{
	color:#a4c639;
} 
.about-info h1, p{
	color: white;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
.about-info p{
	font-size:  small;
	color: white;
	line-height: 30px;
}
.about-info a{
	text-decoration: none;
	color: white;
	background-color: #a4c639;
	padding: 10px;
	border-radius: 20px;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
} 
.about-info{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 30px;
	height: 60vh;
	align-items: center;
}
.call-request{
	background-color: #a4c639;
	color: white;
	display: flex;
	justify-content: space-between;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	align-items: center;
}
.call-request a{
	border:2px solid white;
	text-decoration: none;
	color: white;
	 text-decoration: none;
	color: white;
	background-color: #a4c639;
	padding: 10px;
	border-radius: 20px;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 20px:;
} 
