body{
	background-color: mintcream;
	color:green;
	font-family:arial;
}
h1{text-align: center;
	color:blueviolet;
}
p{text-align:center;up}
.first{text-align:center;}
h2{text-align: center;
   color:palevioletred;
}
h3{text-align: center;
   color:palevioletred;
}
h4{text-align: center
   color:orangered;
}
