body{
	background-color: orangered;
	font-family:arial;
}
h1{text-align: center;
	color:blueviolet;
}
p{text-align:center;up}
.first{text-align:center;}
h2{text-align: center;
   color:palevioletred;
}
h3{text-align: center;
   color:palevioletred;
}
h4{text-align: center
   color:orangered;
}
table,th,td{border:1px solid black;
	width:50%;
}
nav{text-align:right; 
    justify-content:right;
    padding:0;
    margin:20;
    font-weight:bold;
}
.card{
   background-color: yellow;
   border-radius: 10px;
}